APP_NAME=MAQUETI
NODE_ENV=development
PORT=3005
MONGODB_URI=mongodb://127.0.0.1:27017/maqueti
JWT_SECRET=cambia_esta_clave
JWT_EXPIRES_IN=1h
GOOGLE_CLIENT_ID=
WEBAUTHN_RP_ID=localhost
WEBAUTHN_ORIGIN=http://localhost:5173
FREE_PRODUCT_LIMIT=5
